<footer class="main-footer">
  <div class="container footer-container">
    <div class="footer-col">
      <h3>An Mộc</h3>
      <p>Gợi sự an yên, ấm cúng mà chất liệu gỗ mang lại cho không gian sống.</p>
    </div>
    <div class="footer-col">
      <h3>Liên kết nhanh</h3>
      <ul>
        <li><a href="../pages/index.html">Trang chủ</a></li>
        <li><a href="../pages/products.html">Sản phẩm</a></li>
        <li><a href="../pages/contact.html">Liên hệ</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Thông tin liên hệ</h3>
      <p>Email:anmoc@gmail.com</p>
      <p>Điện thoại: 0936 678 386</p>
      <p>Địa chỉ: 409 Nguyễn Thị Tú, P. Bình Hưng Hòa B, Q. Bình Tân | 447 Lê Văn Việt, P. Tăng Nhơn Phú A, TP. Thủ Đức.
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 1990 AnMoc.All rights reserved.</p>
  </div>
</footer>
